@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-darkgreen-500: #08340c;
  --color-goldensilk-500: #c07c24;
  --color-darkpurple-500: #593b92;
  --color-bloodred-500: #4c0000;
  --color-goldenrod-500: #ecc913;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
