@import "tailwindcss";


html {
    scroll-behavior: smooth;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Hide scrollbar for IE & Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}